@using KerstmanPROG6_Fedor_Kevin.models
@using Microsoft.AspNetCore.Identity
@model ApplicationUser
@inject SignInManager<ApplicationUser> SignInManager
@inject RoleManager<ApplicationUserRole> RoleManager
@{
    ViewData["Title"] = "Home Page";
}

@if(User.IsInRole("Child") || true){

    <div class="row">
        <div class="col">
            <p>De <b>Kerstman</b> heeft gevraagd of je je verlanglijstje wil invullen!</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Voor we cadeautjes uitkiezen moeten we je eerst wat vragen?</p>
        </div>
    </div>
    @if (null != TempData["alertMessage"])
    {
        <p class="text-danger">@TempData["alertMessage"]</p>
    }
    <form action="/Gift/AboutMe" method="post">
        <input hidden name="username" value="@User.Identity?.Name">
        <div class="form-group">
            <label>Hoe oud ben jij?</label>
            <input class="form-control" name="age" min="0" max="20" required/>
        </div>

        <div class="form-check">
            @Html.RadioButton("behaviour", "goodbehaviour", new { @id = "good"}) Heel braaf!
        </div>
        <div class="form-check">
            @Html.RadioButton("behaviour", "goodbehaviour", new { @id = "middle"}) Een beetje braaf
        </div>
        <div class="form-check">
            @Html.RadioButton("behaviour", "badbehaviour", new { @id = "bad"}) Ik heb het geprobeerd.
        </div>

        <div class="form-group">
            <label>Wat heb je dan gedaan dat je zo braaf bent?</label>
            <input class="form-control" id="goodBehaviourInput" name="Uitleg"/>
        </div>
        <button type="submit" class="btn btn-primary">Naar de volgende stap!</button>
    </form>
} 


<script type="text/javascript">
    document.getElementById('badbehaviour').onclick = function(){
        document.getElementById('goodBehaviourInput').disabled = true;
    }
    document.getElementById('middlebehaviour').onclick = function () {
        document.getElementById('goodBehaviourInput').disabled = false;
    }
    document.getElementById('goodbehaviour').onclick = function () {
        document.getElementById('goodBehaviourInput').disabled = false;
    }
</script>
